<div class='tqt'>
  <div class="time"></div>
  <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1024 576" preserveAspectRatio="xMidYMid meet">
    <g id="Layer_2">
    </g>
    <g id="bg">
      <linearGradient id="day-sky" gradientUnits="userSpaceOnUse" x1="511.9995" y1="0" x2="511.9995" y2="576.0005">
        <stop offset="0" style="stop-color:#ACE0F4" />
        <stop offset="0.35" style="stop-color:#6CCEF0" />
        <stop offset="1" style="stop-color:#1CA4D9" />
      </linearGradient>
      <linearGradient id="night-sky" gradientUnits="userSpaceOnUse" x1="511.9995" y1="0" x2="511.9995" y2="576.0005">
        <stop offset="0" style="stop-color:#23345D" />
        <stop offset="0.35" style="stop-color:#4C55A5" />
        <stop offset="1" style="stop-color:#0077B4" />
      </linearGradient>
      <rect class="bg-sky day" fill="url(#day-sky)" width="1024" height="576" />
      <rect class="bg-sky night" fill="url(#night-sky)" opacity="0" width="1024" height="576" />
      <rect id="stars" fill="transparent" opacity="0" width="1024" height="300" />
      <linearGradient id="bg_5_" gradientUnits="userSpaceOnUse" x1="511.9995" y1="-748.4985" x2="511.9995" y2="-172.4985">
        <stop offset="0" style="stop-color:#ACE0F4" />
        <stop offset="0.35" style="stop-color:#6CCEF0" />
        <stop offset="1" style="stop-color:#1CA4D9" />
      </linearGradient>
      <rect id="bg_4_" y="-748.499" fill="url(#bg_5_)" width="1024" height="576" />
      <g id="clouds">
        <g id="cloud_5_" opacity="0.7">
          <g opacity="0.5">
          </g>
          <g opacity="0.6">
          </g>
          <g opacity="0.5">
          </g>
          <g opacity="0.5">
          </g>
          <g opacity="0.4">
          </g>
          <g opacity="0.3">
          </g>
        </g>
        <g id="cloud_4_" opacity="0.7">
          <g opacity="0.5">
          </g>
          <g opacity="0.6">
          </g>
          <g opacity="0.5">
          </g>
          <g opacity="0.5">
          </g>
          <g opacity="0.4">
          </g>
          <g opacity="0.3">
          </g>
        </g>
        <g id="cloud_3_" opacity="0.7">
          <g opacity="0.5">
          </g>
          <g opacity="0.6">
          </g>
          <g opacity="0.3">
          </g>
          <g opacity="0.3">
          </g>
          <g opacity="0.3">
          </g>
          <g opacity="0.2">
          </g>
        </g>
      </g>
    </g>
    <g id="midground">
      <g id="grass_1_">
        <path fill="#048E79" d="M78.332,285.25c16,10.417,23.334,21.416,36.667,22.25s93.227,15.166,101.613,17.333
        s23.72,9.695,33.053,9.265s17.333-0.902,24.667,0S385.708,357,399.02,357s338.357,8.5,361.813,14.25s64.757,5.75,71.837,6.125
        s7.33,6.094,11.58,6.109s20.09,2.01,22.67,2.013s16.58,5.835,20.33,5.294s31.25,0.844,33.5,0.901S943.773,394,948.637,393
        s17.363-2.488,21.863-3.994s53.5-11.631,53.5-11.631V576H0V269C0,269,38.668,264,78.332,285.25z" />
        <path fill="#08A088" d="M0,317.562c11.398-0.455,26.091,0.809,32,7.377C42.26,336.344,42.827,341,56.914,347.5S81,364,84,369
        s-34.668-3.141-40-6.07s-16-11.723-30-11.326c-4.333,0.123-9.335-2.215-14-5.721V317.562z" />
        <path fill="#08A088" d="M968,395.692c-11.154,3.921-26.029,0.808-32.515,3.558s3.153,11.734,16.834,14.742
        s11.038,15.604,32.859,18.306s38.821,0,38.821,0v-49.813C1024,382.484,980.259,391.383,968,395.692z" />
        <path fill="#057C68" d="M14,422.244c0,0,15.337-17.91,24.668-20.577s38.671-8.558,45.501-13.112S106.042,370,111.688,374
        s13.854,32.727,16.083,35.863s23.734,21.896,0.482,26.517S15,464.488,14,422.244z" />
      </g>
      <path class="overlay" opacity="0" d="M970.5,389.006c-4.5,1.506-17,2.994-21.863,3.994s-25.637-1.25-27.887-1.308
      s-29.75-1.442-33.5-0.901s-17.75-5.291-20.33-5.294s-18.42-1.997-22.67-2.013s-4.5-5.734-11.58-6.109s-48.381-0.375-71.837-6.125
      S412.332,357,399.02,357s-117.354-22-124.688-22.902s-15.333-0.431-24.667,0s-24.667-7.098-33.053-9.265
      s-88.28-16.499-101.613-17.333s-20.667-11.833-36.667-22.25C38.668,264,0,269,0,269v48.562h0v28.32h0V576h1024V432.298v-49.813
      v-5.109C1024,377.375,975,387.5,970.5,389.006z" />
    </g>
    <g id="castle">
      <g id="back">
        <g id="towers">
          <g id="tower">
            <g>
              <polygon fill="#3B97D3" points="171.205,240 194.001,206.327 216.797,240           " />
            </g>
            <rect x="174.518" y="240" fill="#E5DDD1" width="38.965" height="10.061" />
            <g>
              <polygon fill="#FFF5E6" points="222.5,244.5 222.5,250.288 198.667,246.458 198.667,238.667 193.667,237.667 193.816,253.333 
              193.816,401.667 227.5,401.667 227.5,250.882 227.5,245.5           " />
            </g>
            <g class="shadow">
              <polygon fill="#E5DDD1" points="193.816,293.334 193.816,401.667 227.5,401.667 227.5,328.5           " />
            </g>
            <g>
              <polygon fill="#C1BAB2" points="165.13,244.5 165.13,250.288 188.963,246.458 188.963,238.667 193.963,237.667 
              193.813,253.333 193.813,401.667 160.13,401.667 160.13,250.882 160.13,245.5          " />
            </g>
            <g class="overlay" opacity="0">
              <polygon points="222.5,244.5 222.5,250.288 213.483,248.839 213.483,240 216.797,240 194.001,206.327 171.205,240 174.518,240 
              174.518,248.779 165.13,250.288 165.13,244.5 160.13,245.5 160.13,250.882 160.13,401.667 193.813,401.667 193.816,401.667 
              227.5,401.667 227.5,328.5 227.5,250.882 227.5,245.5           " />
            </g>
            <g class="windows">
              <polygon fill="#C1BAB2" points="217.619,325.852 217.619,306.852 215.212,306.475 215.212,325.475           " />
              <polygon fill="#C1BAB2" points="211.792,324.939 211.792,305.939 208.125,305.365 208.125,324.365           " />
              <polygon fill="#C1BAB2" points="204.667,323.824 204.667,304.824 201,304.25 201,323.25           " />
              <polygon fill="#E5DDD1" points="217.619,287.76 217.619,268.76 215.212,268.383 215.212,287.383           " />
              <polygon fill="#E5DDD1" points="211.792,286.848 211.792,267.848 208.125,267.273 208.125,286.273           " />
              <polygon fill="#E5DDD1" points="204.667,285.732 204.667,266.732 201,266.158 201,285.158           " />
              <polygon fill="#8C8A89" points="168.875,325.852 168.875,306.852 171.282,306.475 171.282,325.475           " />
              <polygon fill="#8C8A89" points="174.703,324.939 174.703,305.939 178.37,305.365 178.37,324.365           " />
              <polygon fill="#8C8A89" points="181.827,323.824 181.827,304.824 185.494,304.25 185.494,323.25           " />
              <polygon fill="#B5B0A9" points="168.875,287.861 168.875,268.861 171.282,268.484 171.282,287.484           " />
              <polygon fill="#B5B0A9" points="174.703,286.949 174.703,267.949 178.37,267.375 178.37,286.375           " />
              <polygon fill="#B5B0A9" points="181.827,285.834 181.827,266.834 185.494,266.26 185.494,285.26           " />
            </g>
          </g>
          <g id="tower_1_">
            <g>
              <polygon fill="#2980BA" points="104.975,249.658 127.771,215.984 150.567,249.658           " />
            </g>
            <rect x="110.144" y="249.658" fill="#C1BAB2" width="35.254" height="12.465" />
            <g>
              <polygon fill="#9F9B97" points="155.377,255.963 155.377,261.305 132.723,257.771 132.723,250.58 127.97,249.658 
              128.113,264.115 128.113,401 160.13,401 160.13,261.853 160.13,256.886          " />
            </g>
            <g>
              <polygon fill="#8C8A89" points="100.845,255.963 100.845,261.305 123.5,257.771 123.5,250.58 128.252,249.658 128.11,264.115 
              128.11,401 96.093,401 96.093,261.853 96.093,256.886           " />
            </g>
            <g class="overlay" opacity="0">
              <polygon points="155.377,255.963 155.377,261.305 145.398,259.748 145.398,249.658 150.567,249.658 127.771,215.984 
              104.975,249.658 110.144,249.658 110.144,259.854 100.845,261.305 100.845,255.963 96.093,256.886 96.093,261.853 96.093,401 
              128.11,401 128.113,401 160.13,401 160.13,261.853 160.13,256.886           " />
            </g>
            <g class="windows">
              <polygon fill="#727071" points="150.738,331.036 150.738,313.502 148.45,313.154 148.45,330.688           " />
              <polygon fill="#727071" points="145.199,330.194 145.199,312.661 141.713,312.132 141.713,329.664           " />
              <polygon fill="#727071" points="138.426,329.166 138.426,311.632 134.941,311.102 134.941,328.636           " />
              <polygon fill="#727071" points="104.405,331.036 104.405,313.502 106.693,313.154 106.693,330.688           " />
              <polygon fill="#727071" points="109.944,330.194 109.944,312.661 113.43,312.132 113.43,329.664           " />
              <polygon fill="#727071" points="116.717,329.166 116.717,311.632 120.202,311.102 120.202,328.636           " />
              <polygon fill="#8C8A89" points="150.738,293.699 150.738,276.166 148.45,275.818 148.45,293.352           " />
              <polygon fill="#8C8A89" points="145.199,292.857 145.199,275.325 141.713,274.795 141.713,292.328           " />
              <polygon fill="#8C8A89" points="138.426,291.83 138.426,274.295 134.941,273.765 134.941,291.299          " />
              <polygon fill="#727071" points="104.405,293.699 104.405,276.166 106.693,275.818 106.693,293.352           " />
              <polygon fill="#727071" points="109.944,292.857 109.944,275.325 113.43,274.795 113.43,292.328           " />
              <polygon fill="#727071" points="116.717,291.83 116.717,274.295 120.202,273.765 120.202,291.299          " />
            </g>
          </g>
        </g>
        <g id="turret_3_">
          <g>
            <polygon fill="#45AAE0" points="343.174,262.123 353.012,238 362.85,262.123        " />
          </g>
          <g>
            <polygon fill="#1E6E9C" points="269.486,262.123 279.324,238 289.162,262.123         " />
          </g>
          <g>
            <rect x="292.011" y="226.347" fill="#9F9B97" width="49.239" height="42.141" />
          </g>
          <g class="shadow">
            <polygon fill="#8C8A89" points="341.25,233.488 292.011,238.488 292.011,226.347 341.25,226.347         " />
          </g>
          <g>
            <rect x="344.333" y="262.123" fill="#D3CDC5" width="15.667" height="58.127" />
          </g>
          <g>
            <polygon fill="#B5B0A9" points="348.75,334 360,320.25 344.333,320.25        " />
          </g>
          <g>
            <rect x="271.813" y="262.123" fill="#9F9B97" width="15.02" height="25.877" />
          </g>
          <g>
            <polygon fill="#8C8A89" points="271.813,288 280.5,299.25 286.833,288        " />
          </g>
          <rect x="279.324" y="266.667" fill="#C1BAB2" width="72.843" height="91" />
          <g>
            <polygon fill="#2883B7" points="310.863,256.943 320.701,232.821 330.539,256.943         " />
          </g>
          <g>
            <rect x="312.396" y="257.02" fill="#D3CDC5" width="15.667" height="26.939" />
          </g>
          <g>
            <polygon fill="#B5B0A9" points="312.396,283.959 320.229,295.209 328.062,283.853         " />
          </g>
          <g>
            <polygon fill="#3B97D3" points="287.02,212.507 316.983,166.5 346.946,212.507        " />
          </g>
          <g>
            <polygon fill="#2883B7" points="287.02,212.507 316.983,166.5 308.863,212.507        " />
          </g>
          <g>
            <polygon fill="#C1BAB2" points="344.333,212.507 334.667,212.507 333.197,212.507 288.694,212.507 288.694,228.152 
            290.226,228.152 290.226,226.347 292.011,226.347 292.011,228.152 293.383,228.152 293.383,226.347 295.169,226.347 
            295.169,228.152 296.541,228.152 296.541,226.347 298.327,226.347 298.327,228.152 299.699,228.152 299.699,226.347 
            301.484,226.347 301.484,228.152 302.857,228.152 302.857,226.347 304.643,226.347 304.643,228.152 306.015,228.152 
            306.015,226.347 307.8,226.347 307.8,228.152 309.172,228.152 309.172,226.347 310.958,226.347 310.958,228.152 312.33,228.152 
            312.33,226.347 314.115,226.347 314.115,228.152 315.488,228.152 315.488,226.347 317.273,226.347 317.273,228.152 
            318.646,228.152 318.646,226.347 320.431,226.347 320.431,228.152 321.804,228.152 321.804,226.347 323.589,226.347 
            323.589,228.152 324.961,228.152 324.961,226.347 326.747,226.347 326.747,228.152 328.119,228.152 328.119,226.347 
            329.904,226.347 329.904,228.152 331.276,228.152 331.276,226.347 333.062,226.347 333.062,228.152 333.197,228.152 
            334.667,228.152 334.728,228.152 334.728,226.347 336.514,226.347 336.514,228.152 337.886,228.152 337.886,226.347 
            339.671,226.347 339.671,228.152 341.043,228.152 341.043,226.347 342.829,226.347 342.829,228.152 344.201,228.152 
            344.201,226.347 344.333,226.347         " />
          </g>
          <g class="overlay" opacity="0">
            <polygon points="353.012,238 343.174,262.123 344.333,262.123 344.333,266.667 341.25,266.667 341.25,233.488 341.25,226.347 
            342.829,226.347 342.829,228.152 344.201,228.152 344.201,226.347 344.333,226.347 344.333,212.507 346.946,212.507 
            316.983,166.5 287.02,212.507 288.694,212.507 288.694,228.152 290.226,228.152 290.226,226.347 292.011,226.347 
            292.011,228.152 292.011,238.488 292.011,266.667 286.833,266.667 286.833,262.123 289.162,262.123 279.324,238 
            269.486,262.123 271.813,262.123 271.813,288 279.324,297.727 279.324,357.666 352.167,357.666 352.167,329.823 360,320.25 
            360,262.123 362.85,262.123        " />
          </g>
          <g class="windows">
            <g>
              <rect x="305.302" y="321.291" fill="#727071" width="1.219" height="7.832" />
              <rect x="307.724" y="321.291" fill="#727071" width="1.219" height="7.832" />
            </g>
            <g>
              <rect x="305.302" y="308.25" fill="#727071" width="1.219" height="7.832" />
              <rect x="307.724" y="308.25" fill="#727071" width="1.219" height="7.832" />
            </g>
            <g>
              <rect x="305.302" y="295.209" fill="#727071" width="1.219" height="7.832" />
              <rect x="307.724" y="295.209" fill="#727071" width="1.219" height="7.832" />
            </g>
            <g>
              <rect x="305.302" y="282.168" fill="#727071" width="1.219" height="7.832" />
              <rect x="307.724" y="282.168" fill="#727071" width="1.219" height="7.832" />
            </g>
            <g>
              <rect x="305.302" y="269.127" fill="#727071" width="1.219" height="7.832" />
              <rect x="307.724" y="269.127" fill="#727071" width="1.219" height="7.832" />
            </g>
            <rect x="326.125" y="321.291" fill="#9F9B97" width="3.875" height="6.709" />
            <rect x="326.125" y="308.812" fill="#9F9B97" width="3.875" height="6.709" />
            <rect x="326.125" y="296.332" fill="#9F9B97" width="3.875" height="6.709" />
          </g>
        </g>
        <g id="back-wall">
          <g>
            <polygon fill="#3B97D3" points="225.5,357.666 377.002,343.291 377.002,360 206,369 206,365.167 217.667,364.5         " />
          </g>
          <polygon fill="#C1BAB2" points="377.002,401.667 208.125,401.667 208.125,369 377.002,360       " />
          <polygon fill="#B5B0A9" points="355.333,401.667 347.625,401.667 347.625,361.565 355.333,361.141       " />
          <g>
            <polygon fill="#8C8A89" points="227.5,339.375 279.324,349 279.324,352.559 227.5,357.477         " />
          </g>
          <g class="overlay" opacity="0">
            <polygon points="279.324,352.559 279.324,349 227.5,339.375 227.5,357.477 225.5,357.666 217.667,364.5 206,365.167 206,369 
            208.125,369 208.125,401.667 377.002,401.667 377.002,360 377.002,356 377.002,343.291         " />
          </g>
          <g class="windows">
            <rect x="312.396" y="373.001" fill="#8C8A89" width="5.937" height="7.833" />
            <rect x="231.167" y="379.834" fill="#8C8A89" width="2.333" height="7.5" />
            <rect x="234.667" y="379.834" fill="#8C8A89" width="2.333" height="7.5" />
          </g>
        </g>
        <g id="back-building-set">
          <g>
            <rect x="159" y="357" fill="#E5DDD1" width="31.75" height="63.5" />
          </g>
          <g>
            <polygon fill="#B5B0A9" points="139.667,338.334 139.667,344.667 135,344.667 135,338.334 117.333,338.334 117.333,420.5 
            159,420.5 159,338.334         " />
          </g>
          <g>
            <rect x="117.333" y="378" fill="#C1BAB2" width="37.667" height="42.5" />
          </g>
          <g>
            <polygon fill="#FFF5E6" points="185.494,420.5 155,420.5 155,378 185.494,388.25        " />
          </g>
          <g>
            <polygon fill="#FFF5E6" points="201.25,357.667 201.25,362.917 197.25,362.25 197.25,357.667 190.75,357 190.75,420.5 
            207.25,420.5 207.25,358.333         " />
          </g>
          <g class="overlay" opacity="0">
            <polygon points="201.25,357.667 201.25,362.917 197.25,362.25 197.25,357.667 190.75,357 159,357 159,338.334 139.667,338.334 
            139.667,344.667 135,344.667 135,338.334 117.333,338.334 117.333,378 117.333,420.5 155,420.5 159,420.5 185.494,420.5 
            190.75,420.5 207.25,420.5 207.25,358.333        " />
          </g>
          <rect class="windows" x="196.25" y="376" fill="#C1BAB2" width="4.5" height="9.75" />
        </g>
      </g>
      <g id="front">
        <g id="large-turret">
          <g id="mini-turrets">
            <g id="mini-turret_2_">
              <g>
                <polygon fill="#45AAE0" points="652.593,158.096 656.928,141.797 661.263,158.096             " />
              </g>
              <rect x="653.714" y="158.096" fill="#FFF5E6" width="6.428" height="13.475" />
              <polygon fill="#FFF5E6" points="660.142,171.571 653.844,185.408 653.714,171.571           " />
            </g>
            <g id="mini-turret_1_">
              <g>
                <polygon fill="#3B97D3" points="647.593,163.638 652.869,143.797 658.146,163.638             " />
              </g>
              <rect x="648.957" y="163.638" fill="#E5DDD1" width="7.825" height="16.402" />
              <polygon fill="#E5DDD1" points="656.782,180.04 648.957,194.333 648.957,180.04           " />
            </g>
            <g id="mini-turret">
              <g>
                <polygon fill="#2980BA" points="640.506,172.169 647.366,146.375 654.227,172.169             " />
              </g>
              <rect x="642.279" y="172.169" fill="#C1BAB2" width="10.174" height="21.325" />
              <polygon fill="#FFF5E6" points="652.453,193.494 642.279,220.833 642.279,193.494           " />
            </g>
          </g>
          <g>
            <rect x="581.694" y="296.75" fill="#E5DDD1" width="87" height="65.75" />
          </g>
          <polygon class="shadow" fill="#C1BAB2" points="668.694,304.166 581.694,314.166 581.694,296.75 668.694,296.75      " />
          <g>
            <polygon fill="#FFF5E6" points="577.444,269 577.444,301.5 580.625,301.5 580.625,297.75 584.334,297.75 584.334,301.5 
            587.185,301.5 587.185,297.75 590.894,297.75 590.894,301.5 593.744,301.5 593.744,297.75 597.453,297.75 597.453,301.5 
            600.304,301.5 600.304,297.75 604.013,297.75 604.013,301.5 606.864,301.5 606.864,297.75 610.573,297.75 610.573,301.5 
            613.424,301.5 613.424,297.75 617.133,297.75 617.133,301.5 619.983,301.5 619.983,297.75 623.692,297.75 623.692,301.5 
            626.543,301.5 626.543,297.75 630.252,297.75 630.252,301.5 633.103,301.5 633.103,297.75 636.812,297.75 636.812,301.5 
            639.662,301.5 639.662,297.75 643.371,297.75 643.371,301.5 646.223,301.5 646.223,297.75 649.932,297.75 649.932,301.5 
            652.782,301.5 652.782,297.75 656.491,297.75 656.491,301.5 659.342,301.5 659.342,297.75 663.051,297.75 663.051,301.5 
            665.901,301.5 665.901,297.75 669.61,297.75 669.61,301.5 672.944,301.5 672.944,269         " />
          </g>
          <g>
            <g>
              <polygon fill="#3B97D3" points="625.193,97.6 659.25,269 676.782,269           " />
            </g>
          </g>
          <g>
            <polygon fill="#2980BA" points="620.983,269 625.193,101.5 625.193,97.6 600.304,269        " />
          </g>
          <g>
            <polygon fill="#2980BA" points="641.517,269 625.131,98.03 620.983,269         " />
          </g>
          <g>
            <polygon fill="#3B97D3" points="659.25,269 625.194,98.03 641.517,269        " />
          </g>
          <g>
            <polygon fill="#1E6E9C" points="611.32,212.75 618.884,212.75 619.271,205.751 612.173,205.751        " />
            <polygon fill="#1E6E9C" points="610.011,223.5 618.288,223.5 618.683,216.38 610.878,216.38         " />
            <polygon fill="#1E6E9C" points="612.614,202.121 619.472,202.121 619.851,195.292 613.446,195.292         " />
            <polygon fill="#1E6E9C" points="606.632,251.25 616.751,251.25 617.283,241.63 607.803,241.63         " />
            <polygon fill="#1E6E9C" points="608.397,236.75 617.554,236.75 618.018,228.38 609.417,228.38         " />
            <polygon fill="#1E6E9C" points="613.791,192.459 620.007,192.459 620.316,186.877 614.471,186.877         " />
            <polygon fill="#1E6E9C" points="621.653,162.75 617.409,162.75 616.798,167.771 621.375,167.771         " />
            <polygon fill="#1E6E9C" points="615.841,175.629 620.939,175.629 621.218,170.604 616.453,170.604         " />
            <polygon fill="#1E6E9C" points="614.816,184.044 620.474,184.044 620.782,178.462 615.496,178.462         " />
          </g>
          <g>
            <polygon fill="#2883B7" points="643.708,212.69 639.312,212.563 638.462,205.612 642.582,205.764        " />
            <polygon fill="#2883B7" points="645.438,223.33 640.617,223.239 639.754,216.168 644.292,216.284        " />
            <polygon fill="#2883B7" points="641.999,202.172 638.021,202.006 637.191,195.224 640.9,195.414         " />
            <polygon fill="#2883B7" points="649.989,250.265 643.986,250.799 642.82,241.245 648.352,241.272        " />
            <polygon fill="#2883B7" points="647.568,236.442 642.227,236.398 641.21,228.086 646.222,228.159        " />
            <polygon fill="#2883B7" points="640.444,192.61 636.849,192.411 636.17,186.867 639.547,187.085         " />
            <polygon fill="#1E6E9C" points="633.24,162.906 635.667,163.208 636.474,168.178 633.85,167.892         " />
            <polygon fill="#2883B7" points="637.739,175.955 634.805,175.696 634.194,170.706 636.93,170.981        " />
            <polygon fill="#2883B7" points="639.092,184.282 635.826,184.054 635.148,178.51 638.194,178.757        " />
          </g>
          <polygon fill="#2980BA" points="625.193,97.6 600.304,269 573.606,269      " />
          <g>
            <polygon fill="#1E6E9C" points="597.005,203.713 593.332,203.544 591.309,210.269 595.171,210.478         " />
            <polygon fill="#1E6E9C" points="594.22,213.987 590.259,213.757 588.199,220.598 592.354,220.87         " />
            <polygon fill="#1E6E9C" points="599.745,193.603 596.357,193.494 594.383,200.056 597.955,200.204         " />
            <polygon fill="#1E6E9C" points="587.603,238.395 582.956,238.019 580.175,247.262 585.082,247.694         " />
            <polygon fill="#1E6E9C" points="591.074,225.587 586.788,225.288 584.367,233.33 588.881,233.678        " />
            <polygon fill="#1E6E9C" points="601.95,185.468 598.791,185.408 597.177,190.772 600.486,190.864        " />
            <polygon fill="#1E6E9C" points="608.272,162.146 605.769,162.225 604.316,167.05 606.956,167        " />
            <polygon fill="#1E6E9C" points="606.214,169.738 603.497,169.772 602.044,174.601 604.897,174.596         " />
            <polygon fill="#1E6E9C" points="604.154,177.333 601.225,177.322 599.61,182.687 602.692,182.73         " />
          </g>
          <path class="overlay" opacity="0" d="M652.453,188.168v-0.221l1.391-2.54v0.001l0.003-0.006l2.936-5.362v-1.088l3.359-7.381
          v-13.475h1.121l-4.335-16.299l-2.295,8.629l-1.764-6.629l-3.094,11.634l-2.409-9.057l-3.515,13.215L625.193,97.6l0.001,0.431
          l-0.001,0.652V97.6L573.606,269h3.838v32.5h3.181v-3.75h1.069v16.416V362.5h87v-58.334v-6.416h0.916v3.75h3.334V269h3.838
          L652.453,188.168z" />
          <g class="windows">
            <rect x="645.691" y="303.583" fill="#B5B0A9" width="3.142" height="4.833" />
            <rect x="656.491" y="305.084" fill="#B5B0A9" width="3.142" height="4.833" />
            <rect x="656.491" y="317.083" fill="#B5B0A9" width="3.142" height="4.833" />
            <rect x="645.691" y="315.582" fill="#B5B0A9" width="3.142" height="4.833" />
          </g>
        </g>
        <g id="inner-buildings">
          <rect x="564.5" y="328" fill="#C1BAB2" width="29.656" height="78.326" />
          <polygon fill="#1E6E9C" points="772.667,350.281 720.937,350.281 727.937,303.583 772.667,303.583       " />
          <rect x="550.664" y="334.098" fill="#9F9B97" width="14.833" height="67.251" />
          <g>
            <polygon fill="#3B97D3" points="548.665,334.098 557.92,288.196 567.176,334.098        " />
          </g>
          <g>
            <g>
              <rect x="739.945" y="319.532" fill="#C1BAB2" width="40.344" height="86.794" />
            </g>
            <g>
              <polygon fill="#45AAE0" points="738.529,319.532 760.117,241.63 781.705,319.532          " />
            </g>
            <g>
              <polygon fill="#C1BAB2" points="751.978,303.62 748.64,296.057 745.302,303.62 745.289,303.62 745.289,320.349 751.99,320.349 
              751.99,303.62           " />
            </g>
            <rect x="772.667" y="296.75" fill="#3B97D3" width="2.333" height="18.832" />
            <g>
              <polygon fill="#2980BA" points="752.971,304.87 753.959,304.87 748.64,292.817 743.319,304.87 744.308,304.87 748.64,295.057 
                        " />
            </g>
          </g>
          <polygon fill="#2980BA" points="605.77,327.125 678.824,319.349 668.682,349.604 600.592,349.604      " />
          <g>
            <polygon fill="#9F9B97" points="702.914,349.604 688.799,307.5 682.797,307.5 668.682,349.604 635.5,349.604 635.5,396 
            739.945,396 739.945,349.604         " />
          </g>
          <g>
            <g>
              <polygon fill="#3B97D3" points="688.078,351.604 712.166,271.702 736.254,351.604           " />
            </g>
            <g>
              <polygon fill="#2980BA" points="726.48,340.125 727.937,340.125 720.097,328.072 712.257,340.125 713.713,340.125 
              720.097,330.312           " />
            </g>
            <g>
              <polygon fill="#E5DDD1" points="725.016,337.875 720.097,330.312 715.178,337.875 715.159,337.875 715.159,351.604 
              725.034,351.604 725.034,337.875           " />
            </g>
            <rect x="690.75" y="351.604" fill="#E5DDD1" width="43.5" height="54.723" />
          </g>
          <g>
            <rect x="599.724" y="305.167" fill="#8C8A89" width="4.771" height="18.833" />
          </g>
          <g>
            <rect x="627.349" y="305.167" fill="#8C8A89" width="4.771" height="18.833" />
          </g>
          <g class="overlay" opacity="0">
            <g>
              <polygon points="557.92,288.196 548.665,334.098 550.664,334.098 550.664,401.349 564.5,401.349 564.5,406.326 
              594.156,406.326 594.156,328 565.946,328           " />
            </g>
            <g>
              <polygon points="760.117,241.63 742.949,303.583 727.937,303.583 725.891,317.229 712.166,271.702 695.42,327.25 
              688.799,307.5 682.797,307.5 678.824,319.349 605.77,327.125 600.592,349.604 635.5,349.604 635.5,396 690.75,396 
              690.75,406.326 734.25,406.326 734.25,396 739.945,396 739.945,406.326 780.289,406.326 780.289,319.532 781.705,319.532          
              " />
            </g>
            <g>
              <rect x="599.724" y="305.167" width="4.771" height="18.833" />
            </g>
            <g>
              <rect x="627.349" y="305.167" width="4.771" height="18.833" />
            </g>
          </g>
        </g>
        <g id="main-wall">
          <g>
            <polygon fill="#DDD9D3" points="822.167,341.75 822.167,346.5 817.715,346.5 817.715,341.75 811.273,341.75 811.273,356.902 
            795.172,356.902 795.172,406.326 825.156,406.326 825.156,341.75        " />
          </g>
          <polygon fill="#FFF5E6" points="830.875,341.75 830.875,346.125 828.625,346.125 828.625,341.75 825.156,341.75 825.156,413.001 
          832.67,413.001 832.67,341.75      " />
          <polygon fill="#D3CDC5" points="635.75,324 615.841,324 615.841,329.123 608.272,329.123 608.272,324 592,324 592,406.326 
          635.75,406.326      " />
          <g>
            <polygon fill="#C1BAB2" points="729.25,349 729.25,354.75 724.75,354.75 724.75,349 709,349 709,353.25 704.5,353.25 704.5,349 
            690.75,349 690.75,353.25 686.25,353.25 686.25,349 672.5,349 672.5,353.25 668,353.25 668,349 654.25,349 654.25,353.25 
            649.75,353.25 649.75,349 635.75,349 635.75,406.326 741.25,406.326 741.25,349        " />
          </g>
          <g>
            <polygon fill="#FFF5E6" points="799.5,406.326 795.172,406.326 795.25,304.25 799.5,301.25        " />
          </g>
          <g>
            <polygon fill="#C1BAB2" points="791.25,304.25 791.25,310.25 787.125,310.25 787.125,304.25 779,304.25 779,406.326 
            795.25,406.326 795.25,304.25        " />
          </g>
          <g>
            <polygon fill="#E5DDD1" points="787.039,318.25 787.039,323.75 781.539,323.75 781.539,318.25 772,318.25 772,323.75 
            766.5,323.75 766.5,318.25 754.5,318.25 754.5,325 749,325 749,318.25 740.5,318.25 740.5,406.326 795.25,406.326 
            795.25,318.25         " />
          </g>
          <g class="overlay" opacity="0">
            <polygon points="830.875,341.75 830.875,346.125 828.625,346.125 828.625,341.75 825.156,341.75 822.167,341.75 822.167,346.5 
            817.715,346.5 817.715,341.75 811.273,341.75 811.273,356.902 799.5,356.902 799.5,301.25 795.25,304.25 791.25,304.25 
            791.25,310.25 787.125,310.25 787.125,304.25 779,304.25 779,318.25 772,318.25 772,323.75 766.5,323.75 766.5,318.25 
            754.5,318.25 754.5,325 749,325 749,318.25 740.5,318.25 740.5,349 729.25,349 729.25,354.75 724.75,354.75 724.75,349 709,349 
            709,353.25 704.5,353.25 704.5,349 690.75,349 690.75,353.25 686.25,353.25 686.25,349 672.5,349 672.5,353.25 668,353.25 
            668,349 654.25,349 654.25,353.25 649.75,353.25 649.75,349 635.75,349 635.75,324 615.841,324 615.841,329.123 
            608.272,329.123 608.272,324 592,324 592,406.326 635.75,406.326 740.5,406.326 741.25,406.326 779,406.326 795.172,406.326 
            795.25,406.326 799.5,406.326 825.156,406.326 825.156,413.001 832.67,413.001 832.67,341.75         " />
          </g>
          <g class="windows">
            <rect x="756.333" y="338.833" fill="#C1BAB2" width="2.667" height="7.834" />
            <rect x="760.833" y="338.833" fill="#C1BAB2" width="2" height="6.168" />
          </g>
          <g class="windows">
            <rect x="611.874" y="343.312" fill="#B5B0A9" width="2.667" height="13.938" />
            <rect x="611.874" y="367.716" fill="#B5B0A9" width="2.667" height="13.938" />
            <rect x="618.374" y="342.634" fill="#B5B0A9" width="2.667" height="13.938" />
          </g>
        </g>
      </g>
      <g id="central">
        <g id="bg_2_">
          <g>
            <polygon fill="#2980BA" points="393.434,205.25 417.021,157 440.609,205.25         " />
          </g>
          <g>
            <polygon fill="#1E6E9C" points="449.343,202.936 470.098,162.75 490.853,202.936        " />
          </g>
          <g>
            <rect x="451.393" y="202.936" fill="#8C8A89" width="28.94" height="198.731" />
          </g>
          <g>
            <polygon fill="#9F9B97" points="391.668,201.125 391.668,205.936 387.335,205.936 387.335,201.125 377.002,201.125 
            377.002,401.667 422.434,401.667 422.434,201.125         " />
          </g>
          <g class="overlay" opacity="0">
            <g>
              <polygon points="417.021,157 395.45,201.125 391.668,201.125 391.668,205.936 387.335,205.936 387.335,201.125 
              377.002,201.125 377.002,401.667 422.434,401.667 422.434,205.25 440.609,205.25           " />
            </g>
            <g>
              <polygon points="470.098,162.75 449.343,202.936 451.393,202.936 451.393,401.667 480.333,401.667 480.333,202.936 
              490.853,202.936           " />
            </g>
          </g>
          <g class="windows">
            <g>
              <rect x="469.791" y="291.428" fill="#727071" width="1.657" height="10.645" />
              <rect x="473.082" y="291.428" fill="#727071" width="1.657" height="10.645" />
            </g>
            <g>
              <rect x="463.389" y="231.12" fill="#727071" width="1.657" height="9.213" />
              <rect x="466.68" y="231.12" fill="#727071" width="1.657" height="9.213" />
            </g>
            <g>
              <rect x="455.48" y="291.428" fill="#727071" width="1.657" height="10.645" />
              <rect x="458.772" y="291.428" fill="#727071" width="1.657" height="10.645" />
            </g>
            <g>
              <rect x="409.718" y="253.094" fill="#727071" width="1.657" height="15.394" />
              <rect x="413.01" y="253.094" fill="#727071" width="1.657" height="15.394" />
            </g>
          </g>
        </g>
        <g id="main-turrets">
          <g id="turret_2_">
            <g>
              <polygon fill="#3B97D3" points="418.305,161.784 436.893,113.535 455.48,161.784          " />
            </g>
            <g>
              <rect x="422.393" y="178.125" fill="#C1BAB2" width="29" height="223.542" />
            </g>
            <polygon class="shadow" fill="#B5B0A9" points="451.436,188.752 422.436,192.5 422.436,161.538 451.436,161.538        " />
            <g>
              <polygon fill="#E5DDD1" points="421.25,161.538 421.25,179.77 421.345,179.77 421.345,181.462 422.632,181.462 422.632,179.77 
              424.305,179.77 424.305,181.462 425.591,181.462 425.591,179.77 427.264,179.77 427.264,181.462 428.549,181.462 
              428.549,179.77 430.222,179.77 430.222,181.462 431.509,181.462 431.509,179.77 433.182,179.77 433.182,181.462 
              434.467,181.462 434.467,179.77 436.14,179.77 436.14,181.462 437.426,181.462 437.426,179.77 439.099,179.77 439.099,181.462 
              440.385,181.462 440.385,179.77 442.059,179.77 442.059,181.462 442.185,181.462 443.562,181.462 443.62,181.462 
              443.62,179.77 445.292,179.77 445.292,181.462 446.579,181.462 446.579,179.77 448.252,179.77 448.252,181.462 
              449.537,181.462 449.537,179.77 451.21,179.77 451.21,181.462 452.496,181.462 452.496,179.77 452.621,179.77 452.621,161.538 
                        " />
            </g>
            <g class="overlay" opacity="0">
              <polygon points="455.48,161.784 436.893,113.535 418.305,161.784 421.25,161.784 421.25,179.77 421.345,179.77 
              421.345,181.462 422.393,181.462 422.393,401.667 451.393,401.667 451.393,188.757 451.436,188.752 451.436,181.462 
              452.496,181.462 452.496,179.77 452.621,179.77 452.621,161.784           " />
            </g>
            <rect class="windows" x="435.874" y="373.251" fill="#9F9B97" width="4.039" height="7.333" />
          </g>
          <g id="turret">
            <g>
              <rect x="512.937" y="168.389" fill="#EAE4DC" width="37.482" height="44.951" />
            </g>
            <g class="shadow">
              <polygon fill="#D3CDC5" points="550.419,194.339 512.937,199.339 512.937,168.389 550.419,168.389           " />
            </g>
            <g>
              <polygon fill="#2980BA" points="507.576,170.604 531.164,113.535 554.752,170.604           " />
            </g>
            <g>
              <rect x="529.664" y="210.333" fill="#D3CDC5" width="16" height="191.334" />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="555.664,401.667 545.664,401.667 545.664,210.333 555.664,212.333           " />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="510.25,170.604 510.25,190.062 510.303,190.062 510.303,191.867 511.675,191.867 
              511.675,190.062 513.461,190.062 513.461,191.867 514.833,191.867 514.833,190.062 516.618,190.062 516.618,191.867 
              517.99,191.867 517.99,190.062 519.775,190.062 519.775,191.867 521.148,191.867 521.148,190.062 522.934,190.062 
              522.934,191.867 524.307,191.867 524.307,190.062 526.092,190.062 526.092,191.867 527.464,191.867 527.464,190.062 
              529.249,190.062 529.249,191.867 530.622,191.867 530.622,190.062 532.407,190.062 532.407,191.867 533.779,191.867 
              533.779,190.062 535.564,190.062 535.564,191.867 536.938,191.867 536.938,190.062 538.723,190.062 538.723,191.867 
              540.095,191.867 540.095,190.062 541.881,190.062 541.881,191.867 542.016,191.867 543.485,191.867 543.547,191.867 
              543.547,190.062 545.332,190.062 545.332,191.867 546.704,191.867 546.704,190.062 548.49,190.062 548.49,191.867 
              549.861,191.867 549.861,190.062 551.647,190.062 551.647,191.867 553.02,191.867 553.02,190.062 553.152,190.062 
              553.152,170.604           " />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="553.169,203.673 553.169,207.572 550.419,207.022 550.419,203.123 545.664,202.172 
              545.664,210.333 555.664,212.333 555.664,204.172           " />
            </g>
            <g>
              <polygon fill="#D3CDC5" points="541.916,202.172 541.916,205.936 538.25,205.936 538.25,202.172 533.511,202.172 
              533.511,205.936 529.845,205.936 529.845,202.172 525.105,202.172 525.105,205.936 521.439,205.936 521.439,202.172 
              516.7,202.172 516.7,205.936 513.034,205.936 513.034,202.172 512.937,202.172 512.937,210.917 545.664,210.917 
              545.664,202.172           " />
            </g>
            <g class="overlay" opacity="0">
              <polygon points="553.169,203.673 553.169,207.572 550.419,207.022 550.419,203.123 550.419,194.339 550.419,190.062 
              551.647,190.062 551.647,191.867 553.02,191.867 553.02,190.062 553.152,190.062 553.152,170.604 554.752,170.604 
              531.164,113.535 507.576,170.604 510.25,170.604 510.25,190.062 510.303,190.062 510.303,191.867 511.675,191.867 
              511.675,190.062 512.937,190.062 512.937,199.339 512.937,202.172 512.937,210.917 512.937,213.339 529.664,213.339 
              529.664,401.667 545.664,401.667 555.664,401.667 555.664,212.333 555.664,204.172           " />
            </g>
          </g>
          <g id="turret_1_">
            <g>
              <polygon fill="#45AAE0" points="481.91,142.054 506.164,84.985 530.419,142.054           " />
            </g>
            <g>
              <rect x="486.165" y="160.985" fill="#E5DDD1" width="40" height="44.951" />
            </g>
            <g class="shadow">
              <polygon fill="#D3CDC5" points="526.164,166.936 486.165,170.936 486.165,160.985 526.164,160.985           " />
            </g>
            <g>
              <rect x="480.333" y="202.936" fill="#C1BAB2" width="40.667" height="198.731" />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="529.664,401.667 521,401.667 521,202.936 529.664,204.936           " />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="483.5,142.069 483.5,163.333 484.685,163.333 484.685,161.527 486.471,161.527 
              486.471,163.333 487.843,163.333 487.843,161.527 489.629,161.527 489.629,163.333 491.001,163.333 491.001,161.527 
              492.786,161.527 492.786,163.333 494.158,163.333 494.158,161.527 495.943,161.527 495.943,163.333 497.316,163.333 
              497.316,161.527 499.102,161.527 499.102,163.333 500.475,163.333 500.475,161.527 502.26,161.527 502.26,163.333 
              503.632,163.333 503.632,161.527 505.417,161.527 505.417,163.333 506.79,163.333 506.79,161.527 508.575,161.527 
              508.575,163.333 509.947,163.333 509.947,161.527 511.732,161.527 511.732,163.333 513.105,163.333 513.105,161.527 
              514.891,161.527 514.891,163.333 516.263,163.333 516.263,161.527 518.049,161.527 518.049,163.333 518.184,163.333 
              519.653,163.333 519.715,163.333 519.715,161.527 521.5,161.527 521.5,163.333 522.872,163.333 522.872,161.527 
              524.658,161.527 524.658,163.333 526.029,163.333 526.029,161.527 527.815,161.527 527.815,163.333 529.188,163.333 
              529.188,161.527 529.32,161.527 529.32,142.069           " />
            </g>
            <g>
              <polygon fill="#C1BAB2" points="516.921,198.563 516.921,202.328 512.931,202.328 512.931,198.563 507.772,198.563 
              507.772,202.328 503.782,202.328 503.782,198.563 502.701,198.563 498.624,198.563 498.622,198.563 498.622,202.328 
              494.634,202.328 494.634,198.563 494.632,198.563 489.476,198.563 489.474,198.563 489.474,202.328 485.485,202.328 
              485.485,198.563 485.484,198.563 485.379,198.563 480.333,198.563 480.333,207.309 485.379,207.309 502.701,207.309 
              521,207.309 521,198.563           " />
            </g>
            <g>
              <polygon fill="#FFF5E6" points="529.663,200.188 526.539,199.563 526.538,202.936 524.122,202.328 524.12,199.188 521,198.563 
              521,207.309 529.664,208.688           " />
            </g>
            <rect x="497" y="353.001" fill="#8C8A89" width="6.582" height="48.666" />
            <rect x="505.952" y="353.001" fill="#8C8A89" width="6.582" height="48.666" />
            <g class="overlay" opacity="0">
              <polygon points="506.164,84.985 481.91,142.054 530.419,142.054          " />
              <polygon points="529.663,200.188 526.539,199.563 526.538,202.936 526.164,202.842 526.164,166.936 526.164,161.527 
              527.815,161.527 527.815,163.333 529.188,163.333 529.188,161.527 529.32,161.527 529.32,142.069 483.5,142.069 483.5,163.333 
              484.685,163.333 484.685,161.527 486.165,161.527 486.165,170.936 486.165,202.328 485.485,202.328 485.485,198.563 
              485.484,198.563 485.379,198.563 480.333,198.563 480.333,202.936 480.333,207.309 480.333,401.667 497,401.667 
              503.582,401.667 505.952,401.667 512.533,401.667 521,401.667 529.664,401.667 529.664,204.936 529.664,204.936           " />
            </g>
            <g class="windows">
              <g>
                <rect x="496.5" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
                <rect x="499" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
                <rect x="501.5" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
              </g>
              <g>
                <rect x="507" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
                <rect x="509.5" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
                <rect x="512" y="234.667" fill="#8C8A89" width="1.5" height="26.5" />
              </g>
              <g>
                <rect x="496.5" y="269" fill="#8C8A89" width="1.5" height="11.5" />
                <rect x="499" y="269" fill="#8C8A89" width="1.5" height="11.5" />
                <rect x="501.5" y="269" fill="#8C8A89" width="1.5" height="11.5" />
              </g>
              <g>
                <rect x="492.219" y="313.459" fill="#8C8A89" width="1.219" height="7.832" />
                <rect x="494.641" y="313.459" fill="#8C8A89" width="1.219" height="7.832" />
              </g>
              <g>
                <rect x="492.219" y="335.459" fill="#8C8A89" width="1.219" height="7.832" />
                <rect x="494.641" y="335.459" fill="#8C8A89" width="1.219" height="7.832" />
              </g>
              <g>
                <rect x="511.924" y="313.459" fill="#8C8A89" width="1.219" height="7.832" />
                <rect x="514.346" y="313.459" fill="#8C8A89" width="1.219" height="7.832" />
              </g>
              <g>
                <rect x="511.924" y="218.414" fill="#8C8A89" width="1.219" height="7.832" />
                <rect x="514.346" y="218.414" fill="#8C8A89" width="1.219" height="7.832" />
              </g>
              <g>
                <rect x="511.924" y="335.459" fill="#8C8A89" width="1.219" height="7.832" />
                <rect x="514.346" y="335.459" fill="#8C8A89" width="1.219" height="7.832" />
              </g>
              <g>
                <rect x="507" y="269" fill="#8C8A89" width="1.5" height="11.5" />
                <rect x="509.5" y="269" fill="#8C8A89" width="1.5" height="11.5" />
                <rect x="512" y="269" fill="#8C8A89" width="1.5" height="11.5" />
              </g>
            </g>
          </g>
        </g>
      </g>
      <g id="walls">
        <g>
          <polygon fill="#E5DDD1" points="334.667,394.667 610.999,402.666 610.999,438.388 334.667,414.927       " />
        </g>
        <g>
          <polygon fill="#B5B0A9" points="91.093,425.059 91.093,398.795 334.667,394.667 334.667,414.927       " />
        </g>
        <g class="overlay" opacity="0">
          <polygon points="334.667,394.667 91.093,398.795 91.093,425.059 334.667,414.927 610.999,438.388 610.999,402.666      " />
        </g>
      </g>
    </g>
    <g id="foreground">
      <g id="grass">
        <path fill="#51BE98" d="M0,411.183c0,0,21.274,5.731,47.002,5.656c19.153-0.056,43.45,5.995,48.998,6.344
        c3.404,0.214,9.517,0.029,17.094-0.369c21.365-1.123,54.378-3.944,71.165-4.313c22.741-0.5,105.526-1.871,126.604-2.894
        s57.125-1.396,82.571,0s64.847,2.765,85.207,6.079s43.688,9.455,59.024,9.885s29.045-5.582,36.003-9.326
        s52.229-28.577,58.114-30.244s29.355-4.668,34.12-4.334s42.098-6.334,46.265-6s27.9,0.713,36.474,1.818s26.027,1.849,31.694,1.849
        s54.078,27.502,63.638,32.065s46.935,19.936,57.815,20.602s29.548,7,33.881,6.5s17.666-3.833,26.333,0s24,26.831,25.667,29.498
        s34.664,16.333,36.332,16.333s0,85.669,0,85.669H0V411.183z" />
        <path fill="#08A088" d="M104.975,426.393c-6.186,0.14-16.975-1.607-26.975,0s-23,2.32-35,0.464s-38,4.312-24,11.228
        S47.827,444,56.914,444.5S77,445.393,83,449.696s21.889-5.349,26.944,5.978s0.975,14.354,8.515,23.34s9.393,20.711,19.967,23.349
        s88.501-7.812,88.538-18.587S194.321,451,203.161,444.5s13.841-22.643-9.16-18.571s-38.101,18.345-45.551,15.208
        s-2.657-10.3,7.383-14.744S137.291,425.662,104.975,426.393z" />
        <path fill="#00A691" d="M56.914,444.5C44.581,448.611,52.5,492,59,503s51,39,76,41s74.5,14,85.5,13s38.5-11.5,54.5-9.5
        s46.5,15.5,50,15.5s24,3,18,5.5s12.5,6,21,4.5s45,1,44.5-2.5s6.5-6-13.5-10s-41-10-47-9.5s-10-12,0.5-11s20,6,27,5s18,1.5,27,4.5
        s26,9,26,4.5s17.285,7.5,22.893,7.5S454,557.5,441,548s-18.5-29.5-23.5-25s-20.5,9.5-32,9s-43-7-50.5-8s-4.5-20.5,6.5-29.5
        s23.5-12,26.5-5.5s12,19.5,25.5,23.5s19,3,13-14.5s-11-24-19.5-27s-24-4-31.5-2.5s-5-6.379-19-0.689s-21-6.811-39-9.311
        S267.5,444,261,442s18-6.5,35.5,0s28.5,10,35.5,10s17-1.5,10-7s10-1.5,14.5-1.5s7.5-8-9-11s-23,0.5-38.5,0s-10-4-19-5.5
        s-21.5,2-28,0s-10-2.771-19-0.386S228.5,429,228,427.5s-14.5-2.5-26,2s-26,15-25.5,21s3.5,14.5,15,14.5s21.5,4.5,22,10s-1,14-18,4
        s-29.5-10.5-38-10s-24.5,0.5-20.5,9.5s3.023,17.964-10,9.5c-13.827-8.986-6.798-28.5-21.451-36.992
        c-7.176-4.159-16.532,2.879-22.549-1.312C72.455,442.353,63.993,442.141,56.914,444.5z" />
        <path fill="#00A691" d="M541.667,469.667c-4.307,3.728-17.337,15.332-16.335,24.666s5.273,16.668,8.138,23.334s4.193,12,15.195,12
        s31.669,0,35.669,0s25.898-1.333,32.949,0s34.6,9.872,48.656,7.206s37.756-10.297,27.924-12.964
        c-33.814-9.173-48.873-19.035-54.201-20.639s-22.559-18.938-30.943-20.938s-20.703-1.332-28.544-2.666s-7.49,0.666-12.999-4.667
        S551.117,461.486,541.667,469.667z" />
        <path fill="#048E79" d="M244,466.203c-9.247,0.596-8,3.824-11,12.811s-8.775,20.482-16.388,20.234s-1,8.893,13.694,9.822
        s29.694,8.07,33.694,0s-0.028-26.52,5.486-25.295S308.966,492,316.983,493s12.418-9.576,3.718-15.788s-18.377-10.214-31.539-8.213
        s-20.162,5.999-27.162,0S250.263,465.8,244,466.203z" />
        <path fill="#048E79" d="M369.5,483.5c0,0,3,8,5.5,9.5s7.5,9.5,11.5,11.5s13,9,12.5,6s-3.5-7.264-9.5-13.132S381,486,381,483.5
        S371,478,369.5,483.5z" />
        <path fill="#048E79" d="M142.5,475c1.974-3.479,19.5-3.5,22.5,0s8.5,4.803,12.5,5.401s10.5,7.671,4,8.635s-15.24,3.036-18.12,0
        s-6.38-2.284-11.38,1.59s-10.5-6.556-9.5-8.591S139.655,480.013,142.5,475z" />
        <g>
          <path fill="#76C481" d="M318,420.378c14,0.378,43.5,1.622,61,4.825s58.968-1.702,100.468,3.115
          c17.072,1.981,75.307,5.473,74.032,3.252c-0.568-0.078-75.979-10.037-76.5-10.106c-19-2.536-91-6.464-114.15-7.432
          S251,419,207,422.976c-9.56,0.863-18.722,1.579-27.598,2.146c-0.05,0.008-0.082,0.014-0.082,0.014
          C190.179,424.519,304,420,318,420.378z" />
        </g>
        <path fill="#76C481" d="M486.165,483.775c0,0,10.739,14.812,19.787,18.019S513,516.959,521,523.479S539.949,542,546.975,543
        S526,538,512,530s-23.471-0.041-39.735-6.521s1.411-12.007,6.573-12.243s11.691-2.648,7.927-9.442
        S478.853,475.109,486.165,483.775z" />
        <path fill="#048E79" d="M619.983,404c0,0,27.501-13.209,42.09-13.209s34.311,5.543,45.952,5.543s34.999-9.989,42.32-7.328
        s59.152,113.626,50.175,119.489s-87.393-10.253-100.727-12.676s-60.356-13.519-73.347-17.372s-20.031-17.097-41.031-16.717
        s-30.242-4.688-37.329-9.709s2.912-15.76,16.246-19.724S619.983,404,619.983,404z" />
        <path fill="#00A691" d="M804.783,515c-5.785,1.995-15.677,5.699-10.396,12.85s14.306,10.729,20.793,10.606
        s24.73,4.313,30.535,10.776s39.953,20.339,46.619,18.72s58.667,3.619,64,0s3.999-16.09,11.666-24.188s3.393-15.139-22.137-20.285
        S818.334,510.326,804.783,515z" />
        <path fill="#76C481" d="M610.241,472c0,0,21.792-0.107,31.275,3.946s22.872,7.104,31.428,7.829s30.069,6.725,39.312,10.725
        s19.773,11.294,38.51,7.501c12.633-2.558,25.733,1.903,26.733,4.951s5.909,9.074,4.205,14.048s3.061,13.5-7.572,11.5
        s-42.302-0.888-54.036-4.5s-32.208-16.096-47.152-21.048S642.205,494.5,633.103,488S591.928,470.949,610.241,472z" />
        <path fill="#76C481" d="M40.914,541.423c1.79-1.152,24.086-9.577,39.086,0s13.889,17.466,29.944,17.521s54.006,2.425,68.031,4.24
        s53.158,11.812,87.091,5.813S330,576,330,576H0v-32.235C0,543.765,27.827,549.846,40.914,541.423z" />
        <path fill="#00A691" d="M477,447.287c-8.988,2.261-10,3.287-20,0S449,450,457,459s10,7.998,16.5,9.999s16,5.864,20.5,12.933
        s6.623,11.207,12.812,13.888s13.536,10.681,5.112-8.819s-5.801-19.328-5.112-24.664S513,445.074,503,447.287
        S482.935,445.794,477,447.287z" />
        <path fill="#08A088" d="M595.001,491.001c0,0-5.943,0.07-14.972-1.965s-21.322-6.863-26.509-9.449s-2.146,9.414,0,18.414
        s-5.525,14.744,19.311,14.872s86.439,7.971,73.638,0.716s-20.583-16.294-31.025-22.107S601.001,487.668,595.001,491.001z" />
      </g>
      <g id="rocks">
        <g id="rock">
          <path fill="#A4B2B2" d="M878.683,432.312c0,0,10.317,0.312,12.317,0s11,4.447,15,4.067s16.834,3.536,18.667,3.578
          s18.833-0.042,21.833,0s11.528,1.909,15.501,4.542s8.806,6.863,12.645,11.688s8.179,10.525,10.601,14.168
          s13.4,12.896,17.077,11.271s11.033,4.729,13.103,5.558s4.574-1.316,8.574,0s0,47.885,0,47.885s-2.5,1.068-10,0
          s-17-2.52-19.5-2.544s-4.5,0.024-12.5,0s-13.5-2.976-15,0s-1.5,7.476-5,7.976s-10.5,3.265-10.5,3.265S902,495.062,896,488.031
          S872.865,446.625,878.683,432.312z" />
          <path fill="#95A5A5" d="M913.227,456.188c0,0,2.258,5.719,9.516,10.016s7.67,8.191,9.964,12.244s13.933,9.115,19.613,9.584
          S963.5,490,967,493s11.5,13.104,11.5,13.104s-10.5-25.212-12-30.158s-2.137-8.304-10-6.947s-9.5,2.329-16.5-1.085
          S916.953,460.375,913.227,456.188z" />
          <path fill="#B3BCBC" d="M968,461.069c0,0,2.5,2.429,3,7.93s6,15.563,7.5,19.032s20.5,8.971,28.5,9.97s18.771,3.793,18.771,3.793
          l-0.175-8.301c0,0-5.096,0.007-8.596-1.993s-15.73-5.5-20.115-6S982.5,475.016,978.5,469.758S968.5,453.139,968,461.069z" />
          <path fill="#B3BCBC" d="M938,491c0,0,6.019-4.553,14.319-2.969S962.656,488.488,967,493s9.821,12.641,14,16.07s5,8.865,8,8.897
          s0.857,7.491-3.821,5.512S971,511.641,968,509.07s-6-4.982-11.5-7.276S927.928,501.434,938,491z" />
        </g>
        <path id="rock_1_" fill="#95A5A5" d="M675.5,383.484c0,0-0.138-4.182-4.868,0s-7.804,7.9-11.218,8.208s-9.414-2.308-15.914,0
        s4.5,4.808,6.5,5.808s16.264,2.5,20.632,2s16.868,2.766,19.868,2.133s9.5-0.703,16.5,0.082s9.543,2.551,15.521-0.082
        S732.637,401.051,736,399s16.5-7.615,18.5-7.308s21.5-1.181,20-2.687s-8.922-5.254-12.711-7.38s-10.398-1.277-15.122,0
        S734,382.16,730,380.33s-18.168-1.498-17.834,1.336s-14.67,0.636-18.792,1.818S680.368,383.484,675.5,383.484z" />
        <path id="rock_9_" fill="#657372" d="M698.673,452.021c0,0,13.521-7.605,21.424-12.063s0.097-9.958,0-11.458
        s-3.265-7.68-7.931-8.34s-7.32-1.66-13.493-1.66s-18.173-2.936-21.173-4.468s18.631-1.532,23.065-2.032s13.753,3,14.594,0
        s12.341-6.5,16.841-5.5s14.5,8.256,14.5,13.878s2.5,10.763,5,11.192s7.666,9.93,4.833,13.43s-17.274,12.961-17.804,16.73
        S731.068,474,725.034,475S711,476.5,706,475s-15.811-0.484-20.655-5.242S687.846,453.543,698.673,452.021z" />
        <g id="rock_2_">
          <path fill="#657372" d="M617.133,442.333c0,0-3.738-12.666-10.269-12s-14.53,5.975-22.53,5.987s-21.494-4.679-26.414,0
          s-14.924,18.012-9.255,20.679s23.89,7.741,28.779,9.204s15.872,2.796,24.714,2.796s11.475-1.334,18.825,0s26.808,6,37.079,8.667
          s12.502,0.667,18.72,0s17.552,1.335,19.552-2.666s6.667-15.344,0-20.339s-6.668-8.995-13.334-8.995s-9.278-8.717-14.306-15.358
          s-10.661-12.642-27.178-8.642s-18.683,3.333-21.533,12S617.133,442.333,617.133,442.333z" />
          <path fill="#565F5E" d="M623.385,446.25c0,0-3.135,7.5-2.385,8.5s4.75,3.75,14.5-2.75s19-5.5,22.5-5.75s1.25-2.75-2.5-6.25
          s-6.25-0.25-10.75,0s-9,2.75-12.75,0.5s0.25,7.074-2,6.787S624.25,444.055,623.385,446.25z" />
          <g>
            <path fill="#565F5E" d="M609.5,461.205c0-4.545-4.75-5.955-9.25-3.955s-11.5,1.75-14,1.446s-10-4.446-14.5-2.509
            s-11.158,5.018-11.158,5.018l0,0c6.739,2.098,14.024,4.152,16.853,4.998c4.89,1.463,15.872,2.796,24.714,2.796
            c3.407,0,5.89-0.197,8.078-0.365C610.311,466.35,609.5,463.581,609.5,461.205z" />
          </g>
          <path fill="#7B8786" d="M592,444c0,0,9.25,1.074,10,3.287s-0.25,6.213,1.25,6.213s5.732,0.375,6.991,2.688S615,463.25,615,461.25
          s2-7.107-2.5-11.554S608,446.25,605,444S592.25,441.75,592,444z" />
          <path fill="#7B8786" d="M651,423.25c-3.245,0.312-14.5,6-15.5,5.75s-0.25,5.25,6.25,2.5s10.75-3.75,12.75-2.25
          s0.988,7.5,5.244,7.75s3.756-3.25,5.506-2s4,6,5.25,4.75S664,422,651,423.25z" />
          <g>
            <path fill="#565F5E" d="M696.334,475c0.658-1.315,1.603-3.428,2.339-5.844c-0.757-3.149-1.709-5.812-2.006-6.82
            c-0.834-2.831-4.333-0.336-5.666,1.831s-1.667,7.833-3.278,8.859s-2.556-5.193-6.222-5.359s-6-0.167-7.834,2.333
            s-1.645,8.447-1.645,8.447l0,0c1.446-0.274,2.93-0.585,4.76-0.781C683,476.999,694.334,479.001,696.334,475z" />
          </g>
        </g>
        <g id="rock_4_">
          <path fill="#657372" d="M626.543,569.666c0,0,6.73-4.666,8.594-7.666s6.53-4.667,8.863-8s4.435-4.666,8.884-5.333
          s10.38-4.334,17.748,3.666S685.445,567,687.723,567s-3.689,4.999-15.706,0.333s-16.916,1.334-19.133,0.667
          s-8.217-3.334-10.884-0.667s-5.334,0.999-8.667,2.333S625.753,572.999,626.543,569.666z" />
          <path fill="#7B8786" d="M659.744,549.334c0,0-2.076,2.667-4.743,3s-7.666,0.333-8,3s-0.334,7.333,3.666,6.333
          s7.82-7.862,9.077-6.098s6.257,2.504,9.59,3.801s3.667,0.435,0-3.801S663.821,548.667,659.744,549.334z" />
        </g>
        <g id="rock_10_">
          <path fill="#A4B2B2" d="M667,539.333c0,0,1.479-6.946,8-6.667s8.298-6.454,13.2-5.333s19.466-4,24.133-3s6.999,2.407,12.333-0.13
          s11.225-3.203,15.279-2.87s15.054,1.175,17.721-0.079S770.334,517.667,774,518s7.912,10,6.289,14s4,7.999,4,10.666
          s1.289,12.334-4,9.667S774.334,552.334,775,555s-3.334,4-6.334,2s-3.098-2.668-8.549-2.334S747,558.26,745,557.963
          s-6.001,2.336-11.334,0.02s-7.999-4.316-12.666-4.316s-11.334,3.333-18.334,0s-14.332-10.667-18.666-11
          s-8.967-0.999-11.983-0.666S668.061,541.793,667,539.333z" />
          <path fill="#7B8786" d="M702.333,538.456c0,0,17.334-0.211,20.334,0s4.334,1.544,8,1.544s1.666,8.465,6.333,9.232
          s9.667,4.768,9.667,4.768s-11.334,4.667-16.667,0s-10.666-3.535-19.333-4.768S692.995,538.537,702.333,538.456z" />
        </g>
        <path id="rock_11_" fill="#657372" d="M580.625,420.378c0,0,16.191,4.892,21.533,4.757s17.611-0.27,21.227-1.952
        s6.238-4.183,13.427-4.683s6.222-2.516,4.705-4.508s6.429-4.84,4.706-7.666s-8.518-4.992-13.12-4.659S625.467,404,619.983,404
        s-4.546-0.377-11.265-0.188s-17.85,10.96-21.534,9.574s-8.935-0.386-6.56,5.114" />
        <path id="rock_5_" fill="#7B8786" d="M613.75,536c0.41-3.11,4.351-8,7.134-8s4.449,0,7.449,0s6.273,4,6.804,4s4.53-5.333,6.863-4
        s4.069,0.667,4.868,2.667s1.465,3.332,3.132,3.666s8.181,0.315,9.744,1.667s-0.431,3.333-2.421,5s-0.889,3.886-4.439,2.109
        s-6.218-5.197-8.551-4.653s-4.278-0.544-7.306,0s-6.36,0.602-7.36-0.094s-1.611,2.637-4.473,2.971S612.871,542.668,613.75,536z" />
        <g id="rock_3_">
          <path fill="#7B8786" d="M767,573.361c0,0,9.289-10.492,13.289-10.177s15.711,3.671,17.211-0.007s6.5-8.529,12.5-7.104
          s17,7.605,19,8.516s9,6.133,2,8.771S815,581.5,812.5,582s-17.5-1-26,0S767.5,579.723,767,573.361z" />
          <path fill="#657372" d="M807.059,563.185c-2.686-0.002-2.018,2.315-6.538,3.815s-9.521,3.98-3.021,4.49s12,2.49,15.5,0
          S816.617,563.191,807.059,563.185z" />
        </g>
        <g id="rock_6_">
          <path fill="#A4B2B2" d="M791.331,527c0,0-0.999-17.429,2.667-20.048s10-11.286,13-11.619s7.999-1.666,12.666-4.333
          s14.667-6,19.667-6s5.667,1.667,12,0s22.333-2.333,27.333,2.667s16,17.141,16,21.403s1.334,8.263,3.334,10.263s8,12.804,9,15.735
          S910.885,548,916.774,550s19.62,13.251,11.89,13.185s-82.295-15.198-82.479-17.524s-4.521-9.523-7.854-10.592
          s-6.334-4.402-10.667-3.735s-17,0.667-19-1.333s-4.334-3.667-8-3.667S794.331,529.333,791.331,527z" />
          <path fill="#7B8786" d="M846,543.334c0,0,20.668-14.334,20.334-18.334s0-19,6-18S884,512.602,888,517.968s12,19.61,14,20.488
          s2.333,2.212,0,4.878s2.001,8.666,5.334,9.666s13.667,9,15,9s-0.333,2.666-9,0s-12-0.594-18.667-2.63
          S841.666,551.001,846,543.334z" />
        </g>
        <g id="rock_7_">
          <g>
            <path fill="#95A5A5" d="M793.998,506.952c3.498,3.452,24.502-0.452,40.044,5.415s90.704,50.41,92.958,49.438s5.706,0.195,10,0
            s9-1.305,11.637-2.435s0.363-5.87,0-8.37s5.863-5,2.863-7.235s-12.5-12.265-13-15.979s-13.09-23.018-17.5-25.424
            S910.5,491,909.5,488s-12-12-14.5-13s-7.5-9.5-8-12.664s-1-10.836-2.771-12.64c-1.545-1.572-4.749-14.178-5.546-17.384
            c-9.958-3.224-19.054-6.835-22.682-8.979c-7.334-4.333-18.001-8-25.001-12.667S826.667,400,823.334,391s-17.667-17-19.667-17
            c-0.387,0-1.09,0.303-2.021,0.782c-0.004,0.036-10.147,85.222-14.146,102.43C783.5,494.424,790.5,503.5,793.998,506.952z" />
          </g>
          <path fill="#7B8786" d="M735.254,414.032c0,0,1.859-6.698,3.275-12.365s-0.529-7.585,7.971-10.876s13.166-9.291,16.333-8.791
          s1.858-1.917,11.18-1.125s13.27,2.283,17.194-0.161s8.419-5.151,10.439-5.933s3.432,19.371,5.143,31.545
          s-5.289,33.566-4.789,43.37S800,472,796.5,475s-9,14-8.5,18s-4.09,6.5-6.295,4s-6.393-15.076-10.549-19.788
          s-7.99-9.306-14.823-11.009s-13.825,6.295-21.079,2.796S735.254,414.032,735.254,414.032z" />
          <g>
            <path fill="#565F5E" d="M750.5,420.16c-0.5-5.84-3-11.486-3.5-17.319c-0.288-3.366,3.256-9.9,3.346-13.835
            c-1.19,0.639-2.463,1.25-3.846,1.785c-8.5,3.291-6.555,5.209-7.971,10.876s-3.275,12.365-3.275,12.365
            s-0.896,6.363-1.744,14.765l17.135,12.34C750.645,441.137,751,426,750.5,420.16z" />
          </g>
          <path fill="#95A5A5" d="M747.579,406.668c0,0,1.774,5.088,2.573,10.879c0.801,5.801,0.625,12.307,0.613,14.023
          c-0.023,3.432,1.734-5.785,8.234-5.178s9.09,9.883,10.545,11.995S770.5,444.5,776,444.5s13.414-8.715,15.207-18.107
          S797.5,416,797.5,411s-5.086-27-6.293-27.5S782,394.5,776,396s-9.834,0.5-13.167,0s-5.517-0.5-5.675,2
          S749.846,404.994,747.579,406.668z" />
          <path fill="#7B8786" d="M816,394.125c0,0,5.333,9.193,5.333,12.201s5.958,4.801,3,5.675s-8.666,4-10.333,0
          s-3.084-15.792-3.667-18.334S813.5,390.791,816,394.125z" />
          <path fill="#5D6766" d="M848.001,449.696c-5.907-0.309-10.001-2.363-10.334-5.196s-10.334-7.227-11-3.363
          s2.001,5.529,2.334,11.196s-1.334,13.073,0.666,13.87s7.001,1.796,13.334-2.87S861.335,450.393,848.001,449.696z" />
          <path fill="#7B8786" d="M904.667,532.799c0,0,0.666-5.133,0-12.466s-0.666-9.762-2.666-13.381s10.666,5.382,10.666,7.715
          s1.881,7.334,4.107,12s7.893,13.334,7.893,19s0,13.277,0,13.277s-8.667-3.812-14-9.712S904.667,532.799,904.667,532.799z" />
          <path fill="#A4B2B2" d="M837,423.183c0,0,17.5,8.958,21.5,8.388s7.121,2.205,10.811,6.817s3.189,9.655,3.689,13.634
          s-4-5.521-8.5-7.521s-11-4.24-17-8.12S835.5,427.865,837,423.183z" />
        </g>
        <g id="rock_8_">
          <path fill="#95A5A5" d="M717.188,488.031c0,0,8.844,9.748,20.578,8.108S761,495.15,764.5,496.325s10.795,2.677,14,1.676
          s5.623-6.438,3.562-9.97s-12.472-14.178-12.517-16.104s-9.729-10.255-12.387-9.591s-9.658-3.664-12.658,0s-3.141,3.07-8.07,3.867
          S715.375,480.562,717.188,488.031z" />
          <path fill="#A4B2B2" d="M749.937,466.203c0,0,4.88,0.125,7.222,1.711s0.42,4.586,4.631,6.086s6.789,4.551,10.75,9.775
          s-4.039,2.275-7.539,0s-13.467-2.381-14.233-5.328s-3.364-9.949-6.815-9.448S743.54,466.203,749.937,466.203z" />
        </g>
        <path fill="#A4B2B2" d="M350.75,544.75c0,0,2.563-1.754,6.532-3.127s8.468,2.096,10.218,1.486s9-0.561,10.5-0.085
        s6.5,1.274,8.25,0s6.75-4.024,9.5-4.524s10.25,0.5,11.5,1.25s4,2.969,7,3.359s2,3.641,1.75,5.641s-3.25,5-8.25,4.25
        s-9.25-0.25-9.75-1s-7-2.25-9.5-2.5s-6.75,0.5-9,0.75s-8,0.25-10-0.5S363,549,360,549.5C360,549.5,343.5,551.25,350.75,544.75z" />
      </g>
      <path class="overlay" opacity="0" d="M1025.771,501.794v-0.006c0.068-7.859-0.338-14.133-1.771-14.604
      c-3.996-1.315-6.5,0.824-8.568,0.002c-0.004-0.002-0.008-0.003-0.012-0.005c-2.077-0.837-9.423-7.179-13.097-5.555
      c-4.312-1.914-8.34-3.803-11.093-5.274c-2.686-2.193-5.018-4.542-5.984-5.996c-0.651-0.979-1.448-2.114-2.329-3.334
      c-2.307-3.24-5.215-7.148-8.265-10.825c-0.002-0.003-0.005-0.006-0.007-0.009c-0.008-0.01-0.016-0.019-0.023-0.028
      c-0.085-0.102-0.169-0.203-0.254-0.305c-0.556-0.686-1.131-1.355-1.72-2.013c-3.785-4.328-7.622-8.004-10.647-9.342
      c-3.973-2.633-12.501-4.5-15.501-4.542s-20,0.042-21.833,0S910,436,906,436.38s-13-4.38-15-4.067
      c-1.367,0.214-6.623,0.135-9.811,0.064c-12.308-4.319-26.339-10.088-33.908-13.462c-1.098-0.507-2.205-1.013-3.315-1.52
      c-2.425-1.158-7.342-3.787-13.423-7.067c-6.395-4.618-3.955-10.542-7.209-19.328c-3.333-9-17.667-17-19.667-17
      c-0.387,0-1.089,0.303-2.019,0.781c0,0-0.001,0-0.002,0c-2.021,0.781-6.515,3.488-10.439,5.933s-7.873,0.953-17.194,0.161
      S766,382.5,762.833,382c-0.127-0.021-0.261-0.013-0.394-0.013c-0.225-0.124-0.445-0.246-0.65-0.361
      c-3.789-2.126-10.398-1.277-15.122,0S734,382.16,730,380.33s-18.168-1.498-17.834,1.336c-1.369-0.109-6.327,0.538-12.526,1.443
      c-2.618-0.034-4.976,0.005-6.266,0.375c-4.122,1.183-13.006,0-17.874,0c0,0-0.138-4.182-4.868,0
      c-1.698,1.502-3.182,2.939-4.545,4.186c-0.059-0.002-0.135,0-0.186-0.004c-4.765-0.334-28.234,2.667-34.12,4.334
      c-2.595,0.735-12.846,5.973-24.093,11.921c-6.773,1.121-17.001,10.782-20.504,9.465c-3.679-1.384-8.915-0.388-6.569,5.088
      c-3.24,1.76-5.707,3.103-6.948,3.771c-5.294,2.849-14.499,7.002-25.351,8.641c-15.546-2.055-61.217-8.087-69.888-9.232
      c-17.064-2.749-47.25-4.154-71.513-5.354c-18.127-1.039-34.914-1.884-44.065-2.267c-9.227-0.386-28.872,0.326-51.945,1.572
      c-0.014,0.001-0.028,0.001-0.042,0.002C289.786,416.629,207,418,184.259,418.5c-16.787,0.369-49.8,3.19-71.165,4.313
      c-7.578,0.398-13.69,0.583-17.094,0.369c-5.548-0.349-29.844-6.399-48.998-6.344C21.274,416.914,0,411.183,0,411.183v132.582V576
      h330h437.857c2.739,4.604,11.412,6.851,18.643,6c8.5-1,23.5,0.5,26,0c1.818-0.363,7.077-3.371,12.502-6H1024
      c0,0,0.516-26.486,0.687-50.005C1025.154,519.173,1025.701,509.686,1025.771,501.794L1025.771,501.794z" />
    </g>
    <g id="quidditch">
      <g id="ring-1">
        <g>
          <g>
            <path fill="#707F96" d="M785.289,184.88c3.74,0,8.129,5.204,11.453,13.581c4.032,10.16,6.253,23.77,6.253,38.323
            c0,14.553-2.221,28.164-6.253,38.323c-3.324,8.377-7.713,13.581-11.453,13.581s-8.129-5.204-11.453-13.581
            c-4.032-10.16-6.253-23.77-6.253-38.323c0-14.554,2.221-28.164,6.253-38.323C777.16,190.084,781.549,184.88,785.289,184.88
            M785.289,180.086c-12.426,0-22.5,25.384-22.5,56.698c0,31.313,10.074,56.698,22.5,56.698s22.5-25.385,22.5-56.698
            C807.789,205.47,797.715,180.086,785.289,180.086L785.289,180.086z" />
          </g>

          <line fill="none" stroke="#707F96" stroke-width="5" stroke-miterlimit="10" x1="785.289" y1="293.482" x2="785.289" y2="660.941" />
        </g>
        <g>
          <g>
            <path fill="#D8CECB" d="M788.289,184.88c3.74,0,8.129,5.204,11.453,13.581c4.032,10.16,6.253,23.77,6.253,38.323
            c0,14.553-2.221,28.164-6.253,38.323c-3.324,8.377-7.713,13.581-11.453,13.581s-8.129-5.204-11.453-13.581
            c-4.032-10.16-6.253-23.77-6.253-38.323c0-14.554,2.221-28.164,6.253-38.323C780.16,190.084,784.549,184.88,788.289,184.88
            M788.289,180.086c-12.426,0-22.5,25.384-22.5,56.698c0,31.313,10.074,56.698,22.5,56.698s22.5-25.385,22.5-56.698
            C810.789,205.47,800.715,180.086,788.289,180.086L788.289,180.086z" />
          </g>

          <line fill="none" stroke="#D8CECB" stroke-width="5" stroke-miterlimit="10" x1="788.289" y1="293.482" x2="788.289" y2="660.941" />
        </g>
      </g>
      <g id="ring-2">
        <g>
          <g>
            <polygon fill="#707F96" points="871,656.762 850,656.762 858,124.82 863,124.82         " />
          </g>
          <g>
            <path fill="#707F96" d="M860.5,34.82c2.106,0,5.525,3.357,8.416,10.857C872.194,54.184,874,65.599,874,77.82
            s-1.806,23.637-5.084,32.143c-2.891,7.5-6.31,10.857-8.416,10.857s-5.525-3.357-8.416-10.857
            C848.806,101.457,847,90.042,847,77.82s1.806-23.637,5.084-32.143C854.975,38.177,858.394,34.82,860.5,34.82 M860.5,29.82
            c-10.217,0-18.5,21.49-18.5,48s8.283,48,18.5,48s18.5-21.49,18.5-48S870.717,29.82,860.5,29.82L860.5,29.82z" />
          </g>
        </g>
        <g>
          <g>
            <polygon fill="#D8CECB" points="875,656.762 854,656.762 862,124.82 867,124.82         " />
          </g>
          <g>
            <path fill="#D8CECB" d="M864.5,34.82c2.106,0,5.525,3.357,8.416,10.857C876.194,54.184,878,65.599,878,77.82
            s-1.806,23.637-5.084,32.143c-2.891,7.5-6.31,10.857-8.416,10.857s-5.525-3.357-8.416-10.857
            C852.806,101.457,851,90.042,851,77.82s1.806-23.637,5.084-32.143C858.975,38.177,862.394,34.82,864.5,34.82 M864.5,29.82
            c-10.217,0-18.5,21.49-18.5,48s8.283,48,18.5,48s18.5-21.49,18.5-48S874.717,29.82,864.5,29.82L864.5,29.82z" />
          </g>
        </g>
      </g>
      <g id="ring-3">
        <g>
          <g>
            <path fill="#707F96" d="M932.706,434.975c5.26,0,12.597,13.46,12.597,35.381s-7.337,35.381-12.597,35.381
            c-5.261,0-12.598-13.46-12.598-35.381S927.445,434.975,932.706,434.975 M932.706,431.641c-8.799,0-15.932,17.333-15.932,38.715
            s7.133,38.715,15.932,38.715c8.798,0,15.931-17.333,15.931-38.715S941.504,431.641,932.706,431.641L932.706,431.641z" />
          </g>

          <line fill="none" stroke="#707F96" stroke-width="5" stroke-miterlimit="10" x1="932.706" y1="509.07" x2="932.706" y2="660.941" />
        </g>
        <g>
          <g>
            <path fill="#D8CECB" d="M935.706,434.975c5.26,0,12.597,13.46,12.597,35.381s-7.337,35.381-12.597,35.381
            c-5.261,0-12.598-13.46-12.598-35.381S930.445,434.975,935.706,434.975 M935.706,431.641c-8.799,0-15.932,17.333-15.932,38.715
            s7.133,38.715,15.932,38.715c8.798,0,15.931-17.333,15.931-38.715S944.504,431.641,935.706,431.641L935.706,431.641z" />
          </g>

          <line fill="none" stroke="#D8CECB" stroke-width="5" stroke-miterlimit="10" x1="935.706" y1="509.07" x2="935.706" y2="660.941" />
        </g>
      </g>
      <g class="overlay" opacity="0">
        <path d="M788.289,180.086c-0.505,0-1.004,0.057-1.5,0.139c-0.496-0.082-0.995-0.139-1.5-0.139c-12.426,0-22.5,25.384-22.5,56.698
        c0,31.313,10.074,56.698,22.5,56.698c0.505,0,1.004-0.057,1.5-0.14c0.496,0.083,0.995,0.14,1.5,0.14
        c12.426,0,22.5-25.385,22.5-56.698C810.789,205.47,800.715,180.086,788.289,180.086z M776.836,275.107
        c-4.032-10.16-6.253-23.77-6.253-38.323c0-14.554,2.221-28.164,6.253-38.323c2.889-7.279,6.581-12.158,9.953-13.312
        c3.372,1.154,7.064,6.033,9.953,13.312c4.032,10.16,6.253,23.77,6.253,38.323c0,14.553-2.221,28.164-6.253,38.323
        c-2.889,7.279-6.581,12.158-9.953,13.312C783.417,287.265,779.725,282.387,776.836,275.107z" />
        <polygon points="785.789,293.482 785.289,293.482 782.789,293.482 782.789,660.941 785.789,660.941 787.789,660.941 
        790.789,660.941 790.789,293.482 788.289,293.482 787.789,293.482     " />
        <path d="M883,77.82c0-26.51-8.283-48-18.5-48c-0.676,0-1.343,0.1-2,0.284c-0.657-0.184-1.324-0.284-2-0.284
        c-10.217,0-18.5,21.49-18.5,48c0,24.301,6.962,44.371,15.992,47.549L850,656.762h4h17h4l-7.992-531.393
        C876.038,122.191,883,102.121,883,77.82z M868.916,45.677C872.194,54.184,874,65.599,874,77.82s-1.806,23.637-5.084,32.143
        c-2.096,5.437-4.467,8.687-6.416,10.069c-1.949-1.382-4.32-4.632-6.416-10.069C852.806,101.457,851,90.042,851,77.82
        s1.806-23.637,5.084-32.143c2.096-5.437,4.467-8.687,6.416-10.069C864.449,36.99,866.82,40.24,868.916,45.677z" />
        <path d="M951.637,470.355c0-21.382-7.133-38.715-15.931-38.715c-0.506,0-1.006,0.063-1.5,0.176
        c-0.494-0.112-0.994-0.176-1.5-0.176c-8.799,0-15.932,17.333-15.932,38.715s7.133,38.715,15.932,38.715
        c0.506,0,1.006-0.063,1.5-0.176c0.494,0.112,0.994,0.176,1.5,0.176C944.504,509.07,951.637,491.737,951.637,470.355z
        M923.108,470.355c0-19.9,6.047-32.826,11.098-35.04c5.05,2.214,11.097,15.14,11.097,35.04s-6.047,32.826-11.097,35.04
        C929.155,503.182,923.108,490.256,923.108,470.355z" />
        <polygon points="933.206,509.07 932.706,509.07 930.206,509.07 930.206,660.941 933.206,660.941 935.206,660.941 938.206,660.941 
        938.206,509.07 935.706,509.07 935.206,509.07    " />
      </g>
    </g>
  </svg>
  <%= yield %>
</div>