
<div class="pusher" style="position: fixed; heigth: 50px; width: 100%; margin-bottom: 50px;">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <% Domitory.all.each do |domitory| %>
          <li class="<%= params[:domitory_id] == domitory.id ? 'active' : '' %>">
            <%= link_to domitory.title, domitory_posts_path(domitory) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>