  <div class="ui inverted segment" style="height: 100%; width: 100%; background-color: black; margin: 0; padding: 0;text-align: center; justify-items: center; align-items: center;">
    <img class="doorgif" src="https://pa1.narvii.com/6266/62621af7740a012298a5840a0f1ef6b7b8595840_hq.gif" alt="opening door" width=250 />
    <button type="button" class="ui inverted red button" onclick="location.href='/domitories/1/posts'">INTO DOMITORY</button>
  </div>