<div class="domi-image">
  <img class="fit-picture domidoor" style="height:500px;" src="/pictures/domitory_door.jpeg" alt="">
</div>
<div class="door-main" >
  <br> 
  <h1>
    Input Spell
  </h1>
  <h3>HINT : This Spell Is Used To Open The Lock.</h3>
  <p>Type small letter (NOT CAPITAL LETTER)</p>
  <div>
    <form action="open" method="get">
      <input type="text" style="color:black;" name="title"><br>
      Into Dormitory <i class="right arrow icon"></i>
      <input type="submit" style="color:black;" value="Go">
    </form>
  </div>
</div>

<div class="mainfooter">
  <p class="mainfooter-ment"> ↓ What you're looking for may be here. </p>
  <h4 style="background-color: black;"><a href="https://ko.wikipedia.org/wiki/%ED%95%B4%EB%A6%AC_%ED%8F%AC%ED%84%B0%EC%9D%98_%EB%A7%88%EB%B2%95_%EB%AA%A9%EB%A1%9D" target="_blank">HINT</a></h4>
</div>