  <div class="ui inverted segment" style="height: 100%; width: 100%; background-color: black; margin: 0; padding: 0;text-align: center; justify-items: center; align-items: center;">
    <img class="doorgif" src="https://i.pinimg.com/originals/de/2e/dc/de2edc3445bae653c549195b59cf6ee8.gif" alt="opening door" width=250 />
    <button type="button" class="ui inverted red button" onclick="location.href='door'">You Wrong, Go Back, Try Again</button>
  </div>