<div>
  <img class="fit-picture" style=" height: 60em; width: 60em;" src="https://lh3.googleusercontent.com/proxy/19XIstY5P1W3AZYdq4HCI9rcb25G06Cw4HfaEvvwx4eocTeL-tZtf0ZdfwEDdjz6zpDkoZ9wQoEisoTmF63k_iYERTmnkSJXN4ZmaPGInffPcWgD4t0JlpjqrTEZYbmxmtSBJJxCKNV6EUBzmRVS1vNrKKweKm9A4yJsUQ6mGMHi7-B3B94hMacu11V7OtIqcUqPaoSaWYTUAgT4AP2EJv2g0jAnf9_pgaMYbMERh3pR5Qe5SrVLbFwBZSyRjYmw3EPlqLJzBUWnEbyAwvac_uh_1E3wnXeMm26kETJ4FddyBj4daqU" alt="">
</div>

<div class="door-main" style="height:400px;">
  <h1>
    Input Spell
  </h1>
  <h3>HINT : This Spell Is Used To Open The Lock.</h3>
  <p>Type small letter (NOT CAPITAL LETTER)</p>
  <div>
    <form action="open" method="get">
      <input type="text" name="title"><br>
      Into Dormitory <i class="right arrow icon"></i>
      <input type="submit" value="Go">
    </form>
  </div>
</div>