
@import "index.css.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'posts';
@import 'comments';

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 20px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

  :root{
    --harry-footer-height: 50px;
  }
  .mainfooter {
    position: fixed;
    height: var(--harry-footer-height);
    width: 100%;
    bottom: 0;
    color:black;
    background-color: black;
  }
  
  .mainfooter-ment {
    color: #606060;
  }

  .door-main {
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;
  }

  .doorgif {
    max-width: 700px;
    background-color: black;
    padding: 40px;
    width: 80%;
    height: 40%;
    text-align: center;
  }

  .domidoor {
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    height: 60em;
  }
  
  .domi-image {
    background-color: black;
    text-align: center;
  }
  
  .hogwart {
    background-color: #ffffff;
    height: inherit ;
  }

  .makepicture {
    position: fixed;
    bottom: 0;
    right: 100px;
    margin: 20px;
  }

  .commentbutton {
    right: 0;
  }

  .characterpicture {
    display: block; 
    text-align: center;
  }
  
  .centersentence{
    text-align: center;
  }
  
  .titlehead{
    text-align: center; 
    color: black; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid black;
    padding: 5px;
    margin: 10px 50px;
    border-radius: 15px;
  }
  
  .titlebody{
    text-align: center; 
    color: black; 
    background-color: rgb(254, 200, 107);
    border: 1px solid black;
    padding: 10px;
    margin: 10px 50px;
    border-radius: 15px;
  }
  
  .over{ 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
    
  .row {
  }
  
  .column {
    float: left;
    width: 50%;
  }
  $trans-dur: 1s;
$long-trans: 3s;

svg{ width: 100%; }

.bg-sky.night{
  transition: opacity $long-trans;
  .night &{
    opacity: 1;
  }  
}

.windows{
  &, & rect, & polygon{
    transition: fill $trans-dur;
    .night &{
      $color: #FFF6B6;
      fill: #FFF6B6;
    }
  }
}

.overlay{
  transition: opacity $long-trans;
  path{ fill: #000; }
  .night & { opacity: 0.4; }
  .night #midground & { opacity: 0.6; }
  .night #foreground & { opacity: 0.5; }
  .night #quidditch & { opacity: 0.6; }
}

.shadow{
  opacity: 1;
  transition: opacity $long-trans;
  .night & { opacity: 0; }
}

.tqtq{
  background-color:#93D9F3;
}
.night .tqtq{
  background-color: #3e3e3e;
}
.time{
  position: absolute;
  padding: 10px;
  font: 1.2em Helvetica, Arial, sans;
  cursor: pointer;
  box-sizing: border-box;
  &:before{
    content: "Nox";
    transition: color $trans-dur;
    .night &{
      content: "Lumos";
      color: #fff;
    }
  }
}